body {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0;
}

header {
    text-align: center;
    padding-top: 15px;
}


nav {
    padding-left: 20px;
    background-color: aqua;
    color: black;
    margin: 10px;
    padding: 10px;
}

.ali {
    float: right;
}